<ion-view title="Bird Sorter :: Behavior">
	<ion-content class="has-header">
 		<p on-swipe-left="vm.onSwipeLeft">This is the behavior.html.</p>
 		<ion-list>
 			<ion-item ng-repeat="item in vm.behaviorOptions">				
				<ion-checkbox ng-checked="vm.selectedBehaviors.indexOf(item) > -1" ng-click="vm.toggleSelection(item)" ng-model="isChecked" value="{{item}}">{{item}}</ion-checkbox>
 			</ion-item>	
 		</ion-list>
		<a ng-click="vm.seeResults()" class="button">Go to results</a>
	</ion-content>
</ion-view>


